h1 {
    font-family: var(--nb-font-serif) !important;
    font-weight: 400 !important;
    color: var(--arcadia-black);
    font-size: var(--nb-h1-font-size);
}

h2 {
    font-family: var(--nb-font-sans) !important;
    font-weight: 700 !important;
    color: var(--arcadia-black);
    font-size: var(--nb-h2-font-size);
}

h3 {
    font-family: var(--nb-font-sans) !important;
    font-weight: 400 !important;
}

#quarto-appendix.default .quarto-appendix-heading {
    font-size: var(--nb-h2-font-size) !important;
}

.references {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
}

.csl-entry {
    margin: 1rem;
.csl-entry {
    margin: 1rem;
    font-family: var(--nb-font-sans);
}

.quarto-figure-center>figure>p {
    text-align: left;
}

body {
    font-family: var(--nb-font-sans);
    color: var(--arcadia-body-color);
}

/* Defines code background */
.code-annotation-gutter, .code-annotation-gutter-bg {
    background-color: var(--bs-code-bg-color) !important;
}
figcaption, .figure-caption {
    font-family: var(--nb-font-sans);
    font-weight: 400;
    color: var(--arcadia-muted-color);
}

code, pre, .sourceCode {
    font-family: var(--nb-font-mono);
    font-weight: 300;
}

div.sourceCode {
    background-color: var(--bs-code-bg-color) !important;
    border-radius: 4px;
    border-style: inset;
    border: 1px solid var(--bs-code-border-color);
    padding: 0.6em;
    padding-left: 0.2em;
    position: relative;  /* For absolute positioning of pseudo-element */
}

div.sourceCode::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--bs-code-border-color);
    transition: width 0.2s ease,
                background-color 0.2s ease;
}

div.sourceCode:hover::before {
    width: 5px;
    background-color: var(--bs-code-left-border-color);
}

/* This preserves aspect ratio of figures */
.quarto-layout-cell img {
    max-width: 100%;
    height: auto;
}

/* Callout colors */
div.callout-note.callout {
    border-left-color: var(--callout-note-rgb);
}
div.callout-note.callout-style-default>.callout-header {
    background-color: rgb(from var(--callout-note-rgb) r g b / 0.1);
}
div.callout-warning.callout {
    border-left-color: var(--callout-warning-rgb);
}
div.callout-warning.callout-style-default>.callout-header {
    background-color: rgb(from var(--callout-warning-rgb) r g b / 0.1);
}
div.callout-important.callout {
    border-left-color: var(--callout-important-rgb);
}
div.callout-important.callout-style-default>.callout-header {
    background-color: rgb(from var(--callout-important-rgb) r g b / 0.1);
}
div.callout-tip.callout {
    border-left-color: var(--callout-tip-rgb);
}
div.callout-tip.callout-style-default>.callout-header {
    background-color: rgb(from var(--callout-tip-rgb) r g b / 0.1);
}
div.callout-caution.callout {
    border-left-color: var(--callout-caution-rgb);
}
div.callout-caution.callout-style-default>.callout-header {
    background-color: rgb(from var(--callout-caution-rgb) r g b / 0.1);
}
