/* Import other CSS files */
@import url("./navbar.css");
@import url("./mini-title.css");
@import url("./frontmatter.css");
@import url("./sidebar.css");
@import url("./article.css");
@import url("./footer.css");
@import url("./colors.css");
@import url("./grid.css");

:root {
  --nb-font-serif: Merriweather, Georgia, "Times New Roman", serif;
  --nb-font-sans: "Atkinson Hyperlegible Next", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --nb-font-mono: "Chivo Mono", ui-monospace, SFMono-Regular, "SF Mono", Consolas, "Liberation Mono", Menlo, monospace;
  --nb-h1-font-size: 2.5rem;
  --nb-h2-font-size: 2rem;
  --nb-toc-title-font-size: 1.2rem;
  --bs-code-color: var(--arcadia-dusk);
  --bs-code-bg-color: #f6f6f6;
  --bs-code-border-color: #e6e6e6;
  --bs-code-left-border-color: #003b4f99;
  --bs-link-color-rgb: var(--arcadia-dusk);

  --callout-note-rgb: var(--arcadia-pewter);
  --callout-warning-rgb: var(--arcadia-mustard);
  --callout-important-rgb: var(--arcadia-dragon);
  --callout-tip-rgb: var(--arcadia-teal);
  --callout-caution-rgb: var(--arcadia-tumbleweed);

  --arcadia-logo-size: 2rem;
}
